.mobile-header {
	padding-top: calc(12px + env(safe-area-inset-top));
	height: calc(48px + env(safe-area-inset-top));
}
.mobile-header.hide-header {
	top: -48px;
	pointer-events: none;
}
.mobile-header > * {
	opacity: 1;
	transition: opacity .2s;
}
.mobile-header.hide-header > * {
	opacity: 0;
	pointer-events: none;
}