@keyframes shadowIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .2;
    }
}

@keyframes popIn {
    0% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}

::backdrop {
    opacity: .5;
    animation: shadowIn .2s ease forwards;
    background-color: #000;
}

.modal {
    height: 100%;
    max-height: 80vh;
    color: inherit;
    border-radius: 8px;
    animation: popIn .2s;
    overflow: hidden;
    word-break: break-word;
    padding: env(safe-area-inset-top) 64px env(safe-area-inset-bottom) 64px;
    background-color: var(--base-primary);
}

@-webkit-keyframes pullRightIn {
    0% {
        -webkit-transform: translate3d(10%, 0, 0);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate3d(0%, 0, 0);
        opacity: 1;
    }
}

@keyframes pullRightIn {
    0% {
        transform: translate3d(10%, 0, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0%, 0, 0);
        opacity: 1;
    }
}

.pullRightIn {
    animation: pullRightIn .3s ease-out;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform, opacity;
}

.modal.right {
    top: 0;
    right: 0;
    bottom: 0;
    max-height: 100vh;
    padding: calc(16px + env(safe-area-inset-top)) 24px calc(16px + env(safe-area-inset-bottom));
    margin-right: 0;
    border-radius: 0;
    animation-name: pullRightIn;
}

.modal header h2 {
    font-size: 24px;
}