*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner {
    @apply bg-accent;
}

::selection {
    @apply bg-accent;
}

*:not(:hover)::-webkit-scrollbar-thumb,
*:not(:hover)::-webkit-scrollbar-corner {
    background-color: transparent;
}

a {
    color: inherit;
}

hr {
    @apply border;
}