@import url('./themes/light-theme.css');
@import url('./themes/dark-theme.css');

.base-primary {
    background-color: var(--base-primary);
}

.base-sub {
    background-color: var(--base-sub);
}

.base-layer {
    background-color: var(--base-layer);
}

.base-raised {
    background-color: var(--base-raised);
}

.base-border {
    background-color: var(--base-border);
}

.base-input {
    background-color: var(--base-input);
}

.base-input-border {
    background-color: var(--base-input-border);
}

.primary-color {
    background-color: var(--primary-color);
}

.text-color {
    color: var(--text-color);
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner {
    background-color: var(--base-layer);
}

::selection {
    background-color: var(--primary-30);
}

*:not(:hover)::-webkit-scrollbar-thumb,
*:not(:hover)::-webkit-scrollbar-corner {
    background-color: transparent;
}

a {
    color: inherit;
}

hr {
    border-color: var(--base-border);
}


/* ---------------- BUTTONS ---------------- */
button,
.bttn,
button.selected,
button.selected:focus,
button.selected:active {
    padding: 8px;
    background-color: var(--primary-color);
    color: var(--inv-text-color);
    border-radius: 4px;
}

button:hover,
.bttn:hover {
    background-color: var(--primary-color);
}

button::before,
.bttn::before,
button.selected::before {
    background-color: var(--primary-color);
}

button svg,
.bttn svg {
    fill: #fff;
    fill: var(--inv-text-color);
}

button svg path,
.bttn svg path {
    fill: inherit;
}

.gray-bttn {
    background-color: var(--base-layer);
}

.gray-bttn:hover {
    background-color: var(--base-raised);
}

.gray-bttn:focus {
    background-color: var(--base-raised);
}

.gray-bttn:active {
    background-color: var(--base-raised);
}

.gray-bttn::before {
    background-color: var(--base-raised);
}

.gray-bttn svg {
    fill: #747B87;
}

.outlined-bttn {
    background-color: rgba(255, 255, 255, 0);
}

.outlined-bttn:hover {
    background-color: transparent;
    border-color: var(--primary-color);
    color: #5F8AE1;
}

.outlined-bttn:focus {
    background-color: transparent;
    border-color: var(--primary-color);
    color: #5F8AE1;
}

.outlined-bttn:active {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.outlined-bttn svg {
    fill: #747B87;
}

.outlined-bttn:hover svg,
.outlined-bttn:focus svg,
.outlined-bttn:active svg {
    fill: var(--primary-color);
}

.outlined-bttn::before {
    background-color: #B6CEFF;
}

.text-bttn {
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-color);
}

.text-bttn:hover {
    background-color: var(--base-raised);
    color: var(--primary-color);
}

.text-bttn:focus {
    background-color: var(--base-raised);
    color: var(--primary-color);
}

.text-bttn:active {
    background-color: var(--base-raised);
    color: var(--primary-color);
}

.text-bttn svg {
    fill: var(--primary-color);
}

.text-bttn::before {
    background-color: #B6CEFF;
}

button[class*="-bttn"] {
    box-shadow: none;
}