@import url('./themes/light-theme.css');
@import url('./themes/dark-theme.css');

.base-primary {
    background-color: var(--base-primary);
}

.base-sub {
    background-color: var(--base-sub);
}

.base-layer {
    background-color: var(--base-layer);
}

.base-raised {
    background-color: var(--base-raised);
}

.base-border {
    background-color: var(--base-border);
}

.base-input {
    background-color: var(--base-input);
}

.base-input-border {
    background-color: var(--base-input-border);
}

.primary-color {
    background-color: var(--primary-color);
}

.shadow {
    background-color: var(--shadow);
}

.text-color {
    color: var(--text-color);
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--base-layer);
}

::selection {
    background-color: var(--primary-30);
}

*:not(:hover)::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* bg colors */
[class*="bg-primary"] {
    background-color: var(--primary-color);
    background-color: var(--primary);
}

/* ---------------- BASIC HTML ELEMENTS ---------------- */
a {
    color: inherit;
}

a:not([class]) {
    color: #747B87;
}

a:hover {
    color: #747B87;
    text-decoration: underline;
}

a:focus {
    color: #747B87;
    text-decoration: underline;
}

a:active {
    color: #555C6C;
    text-decoration: underline;
}

hr {
    border-color: var(--base-border);
}


/* ---------------- BUTTONS ---------------- */
button,
.bttn,
button.selected,
button.selected:focus,
button.selected:active {
    background-color: var(--primary-color);
    color: var(--inv-text-color);
    box-shadow:
        0px 2px 6px rgba(34, 54, 84, 0.06),
        0px 2px 2px rgba(34, 54, 84, 0.08),
        0px 2px 1px rgba(34, 54, 84, 0.12);
}

button:hover,
.bttn:hover {
    background-color: var(--primary-color);
    box-shadow:
        0px 2px 8px rgba(34, 54, 84, 0.06),
        0px 2px 4px rgba(34, 54, 84, 0.08),
        0px 4px 4px rgba(34, 54, 84, 0.12);
}

button:focus,
.bttn:focus {
    background-color: var(--primary-color);
    box-shadow:
        0px 2px 8px rgba(34, 54, 84, 0.06),
        0px 2px 4px rgba(34, 54, 84, 0.08),
        0px 4px 4px rgba(34, 54, 84, 0.12);
}

button:active,
.bttn:active {
    background-color: var(--primary-color);
    box-shadow:
        0px 4px 10px rgba(34, 54, 84, 0.06),
        0px 4px 6px rgba(34, 54, 84, 0.08),
        0px 6px 8px rgba(34, 54, 84, 0.12);
}

button::before,
.bttn::before,
button.selected::before {
    background-color: var(--primary-color);
}

button svg,
.bttn svg {
    fill: #fff;
    fill: var(--inv-text-color);
}

button svg path,
.bttn svg path {
    fill: inherit;
}

.gray-bttn {
    background-color: var(--base-layer);
}

.gray-bttn:hover {
    background-color: var(--base-raised);
}

.gray-bttn:focus {
    background-color: var(--base-raised);
}

.gray-bttn:active {
    background-color: var(--base-raised);
}

.gray-bttn::before {
    background-color: var(--base-raised);
}

.gray-bttn svg {
    fill: #747B87;
}

.outlined-bttn {
    background-color: rgba(255, 255, 255, 0);
}

.outlined-bttn:hover {
    background-color: transparent;
    border-color: var(--primary-color);
    color: #5F8AE1;
}

.outlined-bttn:focus {
    background-color: transparent;
    border-color: var(--primary-color);
    color: #5F8AE1;
}

.outlined-bttn:active {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.outlined-bttn svg {
    fill: #747B87;
}

.outlined-bttn:hover svg,
.outlined-bttn:focus svg,
.outlined-bttn:active svg {
    fill: var(--primary-color);
}

.outlined-bttn::before {
    background-color: #B6CEFF;
}

.text-bttn {
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-color);
}

.text-bttn:hover {
    background-color: var(--base-raised);
    color: var(--primary-color);
}

.text-bttn:focus {
    background-color: var(--base-raised);
    color: var(--primary-color);
}

.text-bttn:active {
    background-color: var(--base-raised);
    color: var(--primary-color);
}

.text-bttn svg {
    fill: var(--primary-color);
}

.text-bttn::before {
    background-color: #B6CEFF;
}

button[class*="-bttn"] {
    box-shadow: none;
}

button.unstyled:not(.close):hover,
button.unstyled:not(.close):active,
button.unstyled:not(.close):focus {
    background-color: rgba(107, 152, 242, 0.1);
    box-shadow: none;
}

button.unstyled.close:hover,
button.unstyled.close:active,
button.unstyled.close:focus {
    background: transparent;
    box-shadow: none;
}

button.unstyled.close:focus:after,
button.unstyled.close:hover:after,
button.unstyled.close:active:after {
    background-color: rgba(107, 152, 242, 0.1);
    box-shadow: none;
}

/* ---------------- FORMS ---------------- */
fieldset {
    border-color: var(--base-border);
}

legend,
label {
    color: inherit;
}

input,
select,
textarea {
    background-color: var(--base-input);
    border-color: var(--base-input-border);
    color: inherit;
}

input.filled,
select.filled,
textarea.filled {
    background-color: var(--base-input);
}

input:hover,
select:hover,
textarea:hover {
    background-color: transparent;
}

input.filled:hover,
select.filled:hover,
textarea.filled:hover {
    background-color: var(--base-input);
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--primary-color);
    box-shadow: inset 0px 0px 0px 1px var(--primary-color);
}

input.filled:focus,
select.filled:focus,
textarea.filled:focus {
    box-shadow: inset 0px -1px 0px var(--primary-color);
}

input:focus:invalid,
input.invalid {
    border-color: #F56166;
    box-shadow: inset 0px 0px 0px 1px #F56166;
}

input.filled:focus:invalid {
    box-shadow: inset 0px -1px 0px #F56166;
}

.floating input,
.floating select,
.floating textarea {
    background-color: transparent;
}

.floating input:hover:not(:focus),
.floating select:hover:not(:focus),
.floating textarea:hover:not(:focus) {
    background-color: transparent;
    border-color: #747B87;
}

.floating .label-text {
    background-color: transparent;
}

label input[type="checkbox"],
label input[type="radio"] {
    background-color: transparent;
}

label input[type="checkbox"]:checked,
label input[type="checkbox"]:hover,
label input[type="checkbox"]:focus,
label input[type="radio"]:checked,
label input[type="radio"]:hover,
label input[type="radio"]:focus {
    box-shadow: none;
}

label input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

label input[type="radio"]:checked {
    border-color: var(--primary-color);
}

.check-label input+span::before,
.radio-label input+span::before,
.switch-label input+span::before {
    background-color: var(--base-input);
    background-color: rgba(41, 44, 49, 0.14);
}

.check-label input:checked+span::before,
.radio-label input:checked+span::before,
.switch-label input:checked+span::before {
    background-color: var(--base-input);
    background: rgba(107, 152, 242, 0.4);
}

.switch-label input[type="checkbox"] {
    background-color: var(--base-input);
    border: none;
}

.switch-label input[type="checkbox"]:checked {
    background-image: none;
    background-color: var(--base-input);
}

.switch-label input[type="checkbox"]+span::after {
    background-color: var(--base-input);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.switch-label input[type="checkbox"]:checked+span::after {
    background-color: var(--primary-color);
}

/* accordion */
.accordion,
.accordion-child {
    border-color: #BFC4CF;
}

.accordion-child header {
    background-color: var(--base-primary);
}

.accordion-child header:hover {
    background-color: var(--base-layer);
}

/* select */
.dropdown {
    border-color: var(--base-input);
}

.dropdown.open {
    border-color: var(--primary-color);
    box-shadow: 0px 0px 0px 1px var(--primary-color);
}

.select .dropdown-label::after {
    border-top-color: var(--base-input-border);
}

.dropdown-options {
    background-color: var(--base-input);
    box-shadow:
        0px 4px 6px rgba(34, 54, 84, 0.1),
        0px 2px 4px rgba(34, 54, 84, 0.08);
}

.select .option:hover {
    background-color: var(--base-raised);
}

/* date picker */

.dropdown-options.calendar .option input[type="radio"]:checked {
    background: var(--primary-color);
}

.dropdown-options.calendar .option input[type="radio"]:checked+span {
    color: inherit;
}

/* card */
.card {
    background-color: var(--base-raised);
    background-color: var(--bg-color);
    border-color: var(--base-border);
    box-shadow:
        0px 4px 6px rgba(34, 54, 84, 0.1),
        0px 2px 4px rgba(34, 54, 84, 0.08),
        0px -2px 6px rgba(34, 54, 84, 0.03);
    transition: all .2s;
}

a.card {
    color: inherit;
}

a.card:hover {
    color: inherit;
    text-decoration: none;
    box-shadow:
        0px 8px 12px rgba(34, 54, 84, 0.1),
        0px 6px 8px rgba(34, 54, 84, 0.08),
        0px -6px 8px rgba(34, 54, 84, 0.02);
}

.card.selected {
    border-color: var(--primary-color);
    box-shadow:
        inset 0px 0px 0px 1px var(--primary-color),
        0px 16px 20px rgba(34, 54, 84, 0.1),
        0px 12px 16px rgba(34, 54, 84, 0.08),
        0px -12px 16px rgba(34, 54, 84, 0.02);
}

.card.uncontained.selected {
    box-shadow:
        inset 0px 0px 0px 2px var(--primary-color),
        0px 16px 20px rgba(34, 54, 84, 0.1),
        0px 12px 16px rgba(34, 54, 84, 0.08),
        0px -12px 16px rgba(34, 54, 84, 0.02);
}

/* Badges and dots */
.badge[class*="bg-"] {
    text-shadow: 0px 1px 0px rgba(64, 64, 64, 0.3);
}

.filter {
    border-color: var(--base-border);
}

/* Tooltip */
.tooltip {
    background-color: #3F4656;
    color: #fff;
}

.tooltip::before {
    border-top-color: #3F4656;
}

/* messages */
.message-input {
    background-color: var(--base-input);
    border-color: var(--base-input-border);
}

.message-input>textarea,
.message-input>textarea:focus {
    border-color: transparent;
    box-shadow: none;
}

.message-input>button.send-icon {
    background-color: transparent;
    border-color: transparent;
}

.sent .message {
    background-color: #F2F3F5;
}

.received .message {
    background-color: #E3F3FF;
}

.message-label .time {
    color: #A3A8B5;
}

.message.unread::before {
    background-color: #2C90EE;
}

/* Modals */
.shadow {
    background-color: #2D3240;
}

.modal {
    background-color: var(--base-primary);
}

.modal-header>i {
    background-color: rgba(107, 152, 242, 0.1);
    color: var(--primary-color);
}

.modal.critical .modal-header>i {
    background-color: rgba(245, 97, 102, 0.1);
    color: #F56166;
}

.critical .bttn {
    background-color: #F56166;
}

/* Alerts and notifications */
.alert,
.notification {
    background-color: #3F4656;
}

.alert {
    border-color: var(--primary-color);
}

.alert>i {
    color: var(--primary-color);
}

.alert.danger {
    border-color: #F56166;
}

.alert.danger>i {
    color: #F56166;
}

.alert.warning {
    border-color: #FF9E2D;
}

.alert.warning>i {
    color: #FF9E2D;
}

.alert.success {
    border-color: #5BDFC4;
}

.alert.success>i {
    color: #5BDFC4;
}

/* Pickers */
.number-picker {
    border-color: var(--base-input-border);
}

.number-picker button {
    border-color: inherit;
}

.number-picker input {
    border-color: transparent;
    box-shadow: none;
}

.number-picker input:focus {
    border-color: var(--primary-color);
}

.number-picker input:focus:invalid {
    border-color: #F56166;
}

.picker-body h4 {
    color: #A3A8B5;
}

.time-picker header .am-pm button {
    border-color: transparent;
}

.time-picker header .am-pm button.selected {
    border-color: var(--base-input-border);
}


/* Tables */
.table-wrap,
table,
td {
    border-color: var(--base-border);
    background-color: var(--base-layer);
}

thead,
tfoot,
th {
    background-color: #F2F3F5;
    border-color: #E3E5E8;
}

tr {
    border-color: #E3E5E8;
}