.app-nav-container .navigation{
	position: absolute;
	width: 330px;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
.app-nav-container .navigation:not(.sub){
	top: 80px;
}
.app-nav-container .navigation.sub{
	z-index: 10;
	opacity: 0;
	background: var(--base-primary);
	box-shadow: 10px 0px 15px -5px rgba(0,0,0,.2);
	-webkit-transform: translateX(230px);
	transform: translateX(230px);
	-webkit-transition: opacity .2s ease-in-out, transform .2s ease-in-out;
	transition: opacity .2s ease-in-out, transform .2s ease-in-out;
	pointer-events: none;
}
.app-nav-container .navigation.sub {
    border-right: 1px solid var(--base-border);
}
.app-nav-container:not(.ignoreHover):hover .navigation.sub.active{
	pointer-events: all;
	opacity: 1;
	-webkit-transition: opacity .2s ease-in-out, transform .2s ease-in-out;
	transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}
.app-nav-container:not(.ignoreHover):hover .navigation.sub.one.active{
	-webkit-transform: translateX(290px);
	transform: translateX(290px);
	z-index: 10;
}
.app-nav-container:not(.ignoreHover):hover .navigation.sub.two.active{
	-webkit-transform: translateX(620px);
	transform: translateX(620px);
	z-index: 11;
}
.app-nav-container:not(.ignoreHover):hover .navigation.sub.three.active{
	-webkit-transform: translateX(950px);
	transform: translateX(950px);
	z-index: 12;
}
.app-nav-container .navigation.sub:hover{
	transition-duration: .4s !important;
}
.navigation ul{
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
.navigation li.option{
	position: relative;
	width: auto;
	height: 44px;
	line-height: 40px;
	text-align: left;
	font-size: 18px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	padding: 0px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background .1s ease-in;
	transition: background .1s ease-in;
}
.navigation li.option a,
.navigation li.option > div{
	display: block;
    height: 44px;
	text-transform: none;
}
.navigation li.option,
.navigation li.option a,
.navigation li.option > div{
	color: inherit;
}
.navigation li.option.sub > *:before{
	content: '';
	position: absolute;
	width: 8px;
	height: 14px;
	top: 0px;
	bottom: 0px;
	right: 22px;
	margin: auto 0px;
	background: url(../../images/arrow-right.svg) no-repeat center;
	transition: transform .2s ease;
}
.navigation li.option.sub > *.active:before{
	transform: rotate(180deg);
}
.navigation li.option:hover{
	background-color: var(--base-raised);
}
.navigation li.option:hover,
.navigation li.option:hover a{
	color: inherit;
	box-shadow: none;
}
.navigation li.option:active{
	background: var(--base-raised);
}
.navigation li.option .icon,
.navigation li.option .label{
	position: relative;
	height: 44px;
	line-height: 40px;
	float: left;
	z-index: 5;
}
.navigation li.option .icon{
	width: 64px;
	background:  no-repeat center;
	background-size: 26%;
}
.navigation li.option .icon.group{
	background-image: url(../../images/group-icon.svg);
}
.navigation li.option .icon.blank{
	background-image: url(../../images/group-icon.svg);
}
.navigation li.option .label{
	width: auto;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.25px;
	margin-left: 30px;
	opacity: 1;
	-webkit-transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
}
.navigation li.option .icon ~ .label{
	margin-left: 15px;
}
.navigation li.option .selected .label,
.navigation li.option .active .label{
	color: var(--primary-color);
}
.navigation li.option.selected,
.navigation li.option.active{
	color: inherit;
	background: none;
}
.drawer .navigation li.option{
	height: 40px;
	line-height: 40px;
}
.drawer .navigation li.option a,
.drawer .navigation li.option > div{
    height: 40px;
}
.drawer .navigation li.option .icon,
.drawer .navigation li.option .label{
	height: 40px;
	line-height: 40px;
}
.drawer .navigation li.option .label{
	margin-left: 16px;
}
.drawer .navigation li.option > *.selected:after,
.drawer .navigation:hover li.option > *.selected:after{
	height: 24px;
}
.aside-container .drawer h2{
	font-size: 12px;
	letter-spacing: 0.25px;
	border-bottom: 1px solid var(--base-border);
	padding: 20px 16px;
    margin: 0;
}
.drawer .navigation li.option.sub > *:before{
	content: '';
	position: absolute;
	width: 12px;
	height: 6px;
	top: 0px;
	bottom: 0px;
	right: 22px;
	margin: auto 0px;
	background: url(../../images/arrow-down.svg) no-repeat center;
	transition: transform .2s ease;
}
.drawer .navigation .child-group > li.option > *:after{
	content: unset;
}
.drawer .navigation li.option.sub ~ .navigation.sub:not(.active){
	display: none;
}
.drawer .navigation li.option.sub ~ .navigation.sub.active{
	display: block;
}
.drawer .child-group .navigation.sub{
	margin: 4px 0 4px 16px;
}
.drawer .child-group .navigation.sub .option{
	border-left: 1px solid var(--border-color);
}
.app-nav-container:hover .navigation li.option.sub > .active{
	background-color: var(--base-raised);
}
.app-nav-container:hover .navigation.sub li.option.sub > .active{
	background-color: rgba(0,40,80,.04);
}
.navigation li.option .selected .icon,
.navigation li.option .active .icon{
	opacity: 1;
    -webkit-filter: brightness(0.3) saturate(3.5);
    -moz-filter: brightness(0.3) saturate(3.5);
    filter: brightness(0.3) saturate(3.5);
}
.navigation li.option > *:after {
	content: '';
    position: absolute;
    width: 4px;
    height: 0;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
    background-color: var(--primary-color);
    border-radius: 2px 0 0 2px;
    z-index: 0;
}
.navigation li.option > *.selected:after {
	transition: all .2s ease-in-out;
    height: 30px;
}
.navigation:hover li.option > *.selected:after {
	height: 30px;
	right: 0;
}