.basic-page .row .col:nth-child(2) {
	flex-grow: 3;
}

.aside-container .control h1 {
	position: relative;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 20px 16px;
	margin: 0;
}

.contained {
	max-width: 1000px;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.basic-page .aside-container .row .col:first-child,
.basic-page .bside-container .row .col:last-child {
	flex-grow: 0;
}