ul.list {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.list li.item {
	display: flex;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1px solid var(--base-border);
	cursor: pointer;
	padding: 10px 20px;
	overflow: hidden;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.list li.item a {
	display: block;
	height: 45px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
}