.overlay {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) calc(64px + env(safe-area-inset-left));
    overflow: hidden;
}
.overlay.inline{
    position: relative;
    animation: none;
}
.overlay .back{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 20px;
    z-index: 15;
}
.overlay .body{
    overflow: auto;
    overflow-x: hidden;
}

@media (max-width: 1300px)
{
    .overlay{
        flex-direction: column;
    }
}