.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--base-primary);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) calc(env(safe-area-inset-left));
    z-index: 15;
    overflow: hidden;
    overscroll-behavior: none;
}
.overlay.inline{
    position: relative;
    animation: none;
}
.overlay header h1{
    padding-left: 64px;
}
.overlay .back{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 20px;
    z-index: 15;
}
.overlay .body{
    overflow: auto;
    overflow-x: hidden;
}

@media (max-width: 1300px)
{
    .overlay{
        flex-direction: column;
    }
}