.overlay {
	@apply bg-background;
	backface-visibility: hidden;
	transform: translateZ(0);
}

.overlay > * {
	@apply bg-background;
}

.overlay .body {
	@apply bg-background;
}

/**
 * This will set the app padding bottom on partrait
 * to support the safe area.
 */
 @media (max-width: 640px) {

    .overlay {
		padding-top: env(safe-area-inset-top);
		padding-bottom: calc(env(safe-area-inset-bottom));
	}
}

@media (min-width: 641px) {

    .overlay {
		padding-left: env(safe-area-inset-left);
		padding-right: env(safe-area-inset-right);
	}
}