/* accordion */
.accordion {
    border-top: solid 1px;
}
.accordion-child {
    border-bottom: 1px solid;
    overflow: hidden;
    pointer-events: none;
    transition: height .2s;
}
.accordion-child > h3 {
    margin: 0;
    pointer-events: auto;
}
.accordion button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 24px;
    border-radius: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}
.accordion button i {
    margin-left: auto;
    transform: rotate(180deg);
    transition: transform .2s;
}
.accordion-child.hidden button i {
    transform: rotate(0deg);
}
.accordion-child .details {
    padding: 0 1.5em 1.5em;
}

/* dropdown */
.dropdown {
    position: relative;
    max-width: 20em;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2em;
    cursor: pointer;
    overflow: hidden;
}
.dropdown.open {
    overflow: visible;
}
.dropdown-label {
    position: relative;
    padding: .75em 1em;
}
.dropdown-options {
    position: absolute;
    top: 100%;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    z-index: 2;
    border-radius: 4px;
    overflow: hidden;
}

/* select */
.select .dropdown-label {
    padding-right: 2em;
}
.select .dropdown-label::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1em;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    transform: translate(0px, 0px) rotate(0deg);
    transition: transform .2s;
}
.select.open .dropdown-label::after {
    transform: translate(-5px, -5px) rotate(180deg);
}
.select .option {
    padding: .5em 1em .5em 2em;
    margin: 0;
}

.select .option {
    position: relative;
}
.select label input[type="radio"] {
    position: absolute;
    left: .5em;
    top: 50%;
    top: calc(50% - .5em);
    border: none;
    border-radius: 0;
    opacity: 0;
}
.select label input[type="radio"]:checked {
    opacity: 1;
}
.select label input[type="radio"] + span {
    margin-left: 0;
}

/* date picker */
.picker {
    max-width: max-content;
    border-radius: 2em;
}
.picker .dropdown-label {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.dropdown-options.calendar {
    width: 20em;
}

.dropdown-options.calendar {
    display: flex;
    flex-wrap: wrap;
}
.dropdown-options.calendar .option {
    position: relative;
    flex: 1 0 calc(100%/7);
    margin: 0;
    text-align: center;
}
.dropdown-options.calendar .option input[type="radio"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    padding-bottom: 90%;
    border: none;
}
.dropdown-options.calendar .option input[type="radio"] + span {
    position: relative;
    display: block;
    padding: 1em .5em;
    margin: 0;
}

/* card */
.card {
    padding: 20px;
    border-radius: 4px;
}
a.card {
    display: block;
    font-size: inherit;
    font-weight: inherit;
    text-transform: none;
}
.card.contained {
    border-style: solid;
    border-width: 1px;
}
.col > .card:only-child {
    min-height: 100%;
}

/* Messages */
.messages-container {
    display: flex;
    flex-direction: column;
}
.message-output {
    max-width: 600px;
}
.message-output.sent {
    align-self: flex-end;
}
.message-output.received {
    align-self: flex-start;
}
.message-label {
    display: flex;
    margin-bottom: 4px;
}
.message-label .name {
    margin-right: 1em;
}
.message-label .time {
    font-size: 14px;
    margin-left: auto;
}
.message-input {
    display: flex;
    align-items: center;
    padding: .5em;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
.message-input > button {
    flex: 0 0 auto;
}
.message-input > textarea {
    resize: none;
    flex: 1 0 auto;
    max-height: 2.75em;
    margin: 0 1em;
}
.message {
    padding: 1em;
    margin-bottom: 2px;
    border-radius: 0px;
    transition: border-radius .2s;
}
.message-label + .message,
.message:first-child {
    border-top-right-radius: 24px;
}
.message:last-child {
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    margin-bottom: 1em;
}
.message.unread {
    position: relative;
    margin-left: 4px;
    border-left: 5px solid var(--primary-color);
}

/* Modal */
@keyframes shadowIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .4;
    }
}
@keyframes popIn {
    0% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}
.shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 19;
    opacity: .4;
    animation: shadowIn .2s;
}
.modal {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 20;
    max-width: 646px;
    margin: 0 auto;
    padding: 24px 40px;
    border-radius: 4px;
    animation: popIn .2s;
}
.modal-header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.modal-header > i {
    padding: 12px;
    border-radius: 50%;
    margin-right: 16px;
}
.modal-header h4 {
    line-height: 2;
    margin: 0;
}
.modal-header > .controls {
    line-height: 1;
    margin-left: auto;
}
.modal-header .close{
	overflow: visible;
}
.modal-header .close:after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    top: -8px;
    left: -8px;
    border-radius: 50%;
    background-color: inherit;
}
.modal-footer {
    text-align: right;
    margin-top: 32px;
}
.modal-footer button {
    text-align: center;
    margin-left: 8px;
}
.modal-footer .left-button {
    float: left;
    margin-left: 0;
    margin-right: auto;
}
@supports (display: flex) {
    .modal-footer {
        display: flex;
        justify-content: flex-end;
    }
}

/* Alerts */
.notification-container {
    position: fixed;
    bottom: 80px;
    right: 64px;
    width: 440px;
    max-width: calc(100% - 72px);
    max-height: calc(100vh - 240px);
    z-index: 18;
	padding: 20px;
    overflow: auto;
}
.notification-container::-webkit-scrollbar {
    width: 10px;
}
.notification-container::-webkit-scrollbar-thumb {
    background-color: #A3A8B5;
    border-radius: 5px;
}
.notification-container::-webkit-scrollbar-track {
    background-color: #E3E5E8;
}
.alert,
.notification {
    display: block;
    display: flex;
    align-items: flex-start;
    padding: 16px;
    border-radius: 4px;
    text-decoration: none;
}
.alert + div,
.notification + div {
    margin-top: 1em;
}
.alert {
    border-left-width: 8px;
    border-left-style: solid;
}
.alert > *,
.notification > * {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 0;
}
.alert > i:first-child,
.notification > i:first-child {
    flex: 0 0 24px;
}
.alert > .close,
.notification > .close {
    margin-right: 0;
    margin-left: auto;
    flex: 0 0 24px;
	overflow: visible;
}
.alert > .close:after,
.notification > .close:after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    top: -8px;
    left: -8px;
    border-radius: 50%;
    background-color: inherit;
}

/* PICKERS */
/* Number picker */
.number-picker {
    display: inline-block;
    display: inline-flex;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 1em;
}
.number-picker button {
    padding: .5em;
    border-radius: 0px;
}
.number-picker button:first-child {
    border-right-width: 1px;
    border-right-style: solid;
}
.number-picker button:last-child {
  border-left-width: 1px;
  border-left-style: solid;
}
.number-picker input {
    padding: .5em 1em;
    border-width: 2px;
    border-radius: 0px;
    text-align: center;
    -webkit-appearance: textfield;
}
.number-picker input[type=number]::-webkit-inner-spin-button,
.number-picker input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Time picker */
.time-picker {
    max-width: 400px;
    box-shadow: 0px 8px 12px rgba(34, 54, 84, 0.1), 0px 6px 8px rgba(34, 54, 84, 0.08), 0px -6px 8px rgba(34, 54, 84, 0.02);
    border-radius: 4px;
    overflow: hidden;
}
.time-picker header {
    padding: 16px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time-picker header h3 {
    text-align: center;
    margin: 0;
}
.time-picker header .am-pm button {
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
}
.picker-body h4 {
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
}
.picker-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.picker-body ul li {
    font-size: 14px;
    padding: 8px;
    margin: 1em;
    flex: 1 1 32px;
    min-height: 32px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.picker-body ul li.selected {
    background-color: var(--primary-color);
    color: #fff;
}

/* Tables */
.table-wrap {
    max-width: 100%;
    overflow-x: auto;
    border-right-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;
}
table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table,
tr,
thead,
tfoot {
    text-align: left;
    border: none;
}
th,
td {
    padding: 18px 24px;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
}
.num-data {
    text-align: right;
}
.sticky-cell {
    position: sticky;
    left: 0;
}