@keyframes shadowIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.fadeIn {
    animation: fadeIn .1s ease;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: opacity;
}

@keyframes popIn {
    0% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}

.popIn {
    animation: popIn .2s ease-out;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform;
}

@keyframes pullRightIn {
    0% {
        transform: translate3d(10%, 0, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0%, 0, 0);
        opacity: 1;
    }
}

.pullRightIn {
    animation: pullRightIn .3s ease-out;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform, opacity;
}

@keyframes pullLeftIn {
    0% {
        transform: translate3d(-10%, 0, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0%, 0, 0);
        opacity: 1;
    }
}

.pullLeftIn {
    animation: pullLeftIn .3s ease-out;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform, opacity;
}

@keyframes pullDownIn {
    0% {
        transform: translate3d(0, -10%, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.pullDownIn {
    animation: pullDownIn .3s ease-out;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform, opacity;
}

@keyframes pullUpIn {
    0% {
        transform: translate3d(0, 10%, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.pullUpIn {
    animation: pullUpIn .2s ease;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform, opacity;
}

@keyframes pullRight {
    0% {
        transform: translate3d(0%, 0, 0);
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        transform: translate3d(10%, 0, 0);
        opacity: 0;
    }
}

.pullRight {
    animation: pullRight .5s ease-in-out;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform, opacity;
}

@keyframes slideUpIn {
    0% {
        transform: translateY(-5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.slideUpIn {
    animation: slideUpIn .2s ease-out;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform, opacity;
}

@keyframes slideDownOut {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-5%);
    }
}

.slideDownOut {
    animation: slideDownOut .2s ease-in;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform, opacity;
}

@keyframes slideRightIn {
    0% {
        transform: translateX(5%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.slideRightIn {
    animation: slideRightIn .2s ease;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform, opacity;
}

@keyframes slideRightOut {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(20%);
    }
}

.slideRightOut {
    animation: slideRightOut .2s ease;
    animation-fill-mode: forwards;

    backface-visibility: hidden;
    will-change: transform, opacity;
}