/* Animation keyframe definitions */
@keyframes accordion-down {
	from {
		height: 0;
	}

	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes accordion-up {
	from {
		height: var(--radix-accordion-content-height);
	}

	to {
		height: 0;
	}
}

@keyframes collapsible-down {
	from {
		height: 0;
	}

	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes collapsible-up {
	from {
		height: var(--radix-collapsible-content-height);
	}

	to {
		height: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slide-in-from-top {
	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slide-in-from-bottom {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slide-in-from-left {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes slide-in-from-right {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		font-feature-settings: "rlig" 1, "calt" 1;
	}

	::backdrop {
		animation: shadowIn .2s ease forwards;
		@apply bg-black/40;
	}
}

html {
	-webkit-overflow-scrolling: touch;
}

* {
	/* overscroll-behavior: none; */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-overflow-style: -ms-autohiding-scrollbar;
	box-sizing: border-box;
}

*:focus-visible {
	@apply ring ring-ring outline-none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: none;
}

/**
 * Reset the default styles
 */
a,
button {
	outline: 0;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: none;
}

i.icon-size svg {
	@apply w-auto h-auto;
}

/*
 * This will set the app padding to support the safe area.
 */
.app-container {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.active-panel-container {
	backface-visibility: hidden;
	transform: translateZ(0);
}

/**
 * This will set the app padding bottom on partrait
 * to support the safe area.
 */
@media (max-width: 640px) {

	.app-container {
		padding-bottom: calc(env(safe-area-inset-bottom));
	}

	.app-container.authed {
		padding-bottom: calc(56px + env(safe-area-inset-bottom));
	}
}

@media (min-width: 641px) {

	.app-container {
		padding-left: env(safe-area-inset-left);
		padding-right: env(safe-area-inset-right);
	}

	.active-panel-container {
		padding-left: calc(64px);
		padding-right: env(safe-area-inset-right);
	}
}