html, body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline:none;
	-ms-overflow-style:-ms-autohiding-scrollbar;
}

a,
button{
	outline: 0;
	text-decoration: none;
}
.app-nav-container {
	position: absolute;
	height: 100%;
}
.app-nav-container.ignoreHover,
.app-nav-container.ignoreHover *{
	pointer-events: none !important;
}
.app-nav-container .main-navigation {
	position: relative;
	background-color: var(--base-raised);
	width: 64px;
	height: 100%;
	z-index: 5;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 1px solid var(--base-border);
	transition: width .2s .1s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: width;
}
a.logo {
    width: 32px;
    height: 32px;
    background: #9db3c5;
    display: block;
    margin: 16px;
}
.app-nav-container:not(.ignoreHover):hover .main-navigation{
	width: 330px;
	transition: width .2s ease-in-out;
	box-shadow: 0px 0px 14px 2px rgba(0,0,0,.1);
}
.app-nav-container .navigation:not(.sub) .option .label{
	opacity: 0;
}
.app-nav-container:hover .navigation:not(.sub) .option .label{
	opacity: 1;
	transition: opacity .3s ease-in;
}
.app-nav-container .navigation-group{
	margin: 0;
}
.app-nav-container .navigation-group h2{
	position: relative;
	font-weight: 500;
	color: var(--text-color);
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 20px 30px;
	opacity: 0;
	margin: 0;
	transition: opacity .3s ease-in;
}
.app-nav-container:hover .navigation-group h2{
	opacity: 1;
}
.navigation.sub.active ~ .active-panel-container:after{
	opacity: 1;
}
.loader{
	position: relative;
	overflow: hidden;
}
.loader *:not(:after){
	position: relative;
	z-index: 1;
}
.loader:after {
    content: '';
    -webkit-animation: swipeRight 2s infinite ease-out;
    animation: slideRight 2s infinite ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 50;
    background: var(--primary);
    backface-visibility: hidden;
}
.panel-container .loader:after {
    background: rgba(0,30, 60, .1);
}