@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('icons/MaterialIcons-Regular.woff2') format('woff2'),
      url('icons/MaterialIcons-Regular.woff') format('woff'),
      url('icons/MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-hairline.woff2') format('woff2'),
         url('lato/lato-hairline.woff') format('woff'),
         url('lato/lato-hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-hairlineitalic.woff2') format('woff2'),
         url('lato/lato-hairlineitalic.woff') format('woff'),
         url('lato/lato-hairlineitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-thin.woff2') format('woff2'),
         url('lato/lato-thin.woff') format('woff'),
         url('lato/lato-thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-thinitalic.woff2') format('woff2'),
         url('lato/lato-thinitalic.woff') format('woff'),
         url('lato/lato-thinitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-light.woff2') format('woff2'),
         url('lato/lato-light.woff') format('woff'),
         url('lato/lato-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-lightitalic.woff2') format('woff2'),
         url('lato/lato-lightitalic.woff') format('woff'),
         url('lato/lato-lightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-regular.woff2') format('woff2'),
         url('lato/lato-regular.woff') format('woff'),
         url('lato/lato-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-italic.woff2') format('woff2'),
         url('lato/lato-italic.woff') format('woff'),
         url('lato/lato-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-medium.woff2') format('woff2'),
         url('lato/lato-medium.woff') format('woff'),
         url('lato/lato-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-mediumitalic.woff2') format('woff2'),
         url('lato/lato-mediumitalic.woff') format('woff'),
         url('lato/lato-mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-semibold.woff2') format('woff2'),
         url('lato/lato-semibold.woff') format('woff'),
         url('lato/lato-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-semibolditalic.woff2') format('woff2'),
         url('lato/lato-semibolditalic.woff') format('woff'),
         url('lato/lato-semibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-bold.woff2') format('woff2'),
         url('lato/lato-bold.woff') format('woff'),
         url('lato/lato-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-bolditalic.woff2') format('woff2'),
         url('lato/lato-bolditalic.woff') format('woff'),
         url('lato/lato-bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-heavy.woff2') format('woff2'),
         url('lato/lato-heavy.woff') format('woff'),
         url('lato/lato-heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-heavyitalic.woff2') format('woff2'),
         url('lato/lato-heavyitalic.woff') format('woff'),
         url('lato/lato-heavyitalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-black.woff2') format('woff2'),
         url('lato/lato-black.woff') format('woff'),
         url('lato/lato-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/lato-blackitalic.woff2') format('woff2'),
         url('lato/lato-blackitalic.woff') format('woff'),
         url('lato/lato-blackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}