@media (prefers-color-scheme: dark) {
    :root {
        --base-primary: #1a1c23;
        --base-sub: #111317;
        --base-layer: #1c1e26;
        --base-raised: #21242c;
        --base-border: #252931;
        --base-input: #23262f;
        --base-input-border: var(--base-border);
        --primary-color: #5F8AE1;
        --shadow: #0f111b;

        --text-color: #FFF;
    }
}