.modal {
    animation: popIn .2s;
    max-height: 100vh;
    padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom);
    @apply shadow-xl md:rounded-md rounded-md;
}
.modal:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.modal.sm {
    max-width: 425px;
    max-height: 350px;
    @apply shadow-xl md:rounded-md rounded-md border;
}
.modal.sm .modal-body {
    max-height: 300px;
}
.modal.lg,
.modal.xl {
    top: 0;
    bottom: 0;
    max-height: 100vh;
}
.modal .modal-header {
    padding-top: calc(1rem + env(safe-area-inset-top));
    top: calc(-0px - env(safe-area-inset-top));
}
.modal .modal-footer {
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    bottom: calc(-0px - env(safe-area-inset-bottom));
}

@media (min-width: 1024px) {

    .modal.md {
        max-height: 80vh;
        padding: 0;
    }
    .modal header button.icon {
        @apply hidden;
    }
}

.modal.right,
.modal.left {
    top: 0;
    bottom: 0;
    max-height: 100vh;
    border-radius: 0;
}
.modal.right.md,
.modal.left.md {
    @apply max-w-[640px];
}
.modal.right {
    margin-right: 0;
    animation-name: pullRightIn;
}
.modal.left {
    margin-left: 0;
    animation-name: pullLeftIn;
}