.modal {
    animation: popIn .2s;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 100vh;
    padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom);
    @apply bg-background shadow-xl md:rounded-md rounded-md;
}
.modal.sm {
    max-width: 425px;
    max-height: 350px;
    @apply bg-background shadow-xl md:rounded-md rounded-md border;
}
.modal.sm .modal-body {
    max-height: 300px;
}
.modal.lg,
.modal.xl {
    top: 0;
    bottom: 0;
    max-height: 100vh;
}

@media (min-width: 1024px) {

    .modal.md {
        max-height: 80vh;
        padding: 0;
    }
    .modal header button.icon {
        @apply hidden;
    }
}

.modal.right,
.modal.left {
    top: 0;
    bottom: 0;
    max-height: 100vh;
    border-radius: 0;
}
.modal.right {
    margin-right: 0;
    animation-name: pullRightIn;
}
.modal.left {
    margin-left: 0;
    animation-name: pullLeftIn;
}