@import url('./modal-animations.css');

::backdrop {
    animation: shadowIn .2s ease forwards;
    @apply bg-black/80;
}

.modal {
    height: 100%;
    max-height: 80vh;
    color: inherit;
    animation: popIn .2s;
    overflow: hidden;
    word-break: break-word;
    @apply bg-background shadow-xl md:rounded-md;
}
.modal.sm {
    max-width: 425px;
    max-height: 300px;
}
.modal.lg,
.modal.xl {
    top: 0;
    bottom: 0;
    max-height: 100vh;
    padding: calc(16px + env(safe-area-inset-top)) 24px calc(16px + env(safe-area-inset-bottom));
}

.modal.right,
.modal.left {
    top: 0;
    bottom: 0;
    max-height: 100vh;
    padding: calc(16px + env(safe-area-inset-top)) 24px calc(16px + env(safe-area-inset-bottom));
    border-radius: 0;
}
.modal.right {
    margin-right: 0;
    animation-name: pullRightIn;
}
.modal.left {
    margin-left: 0;
    animation-name: pullLeftIn;
}