@media (prefers-color-scheme: dark) {
    :root {
        --base-primary: hsl(0, 0%, 9%);
        --base-sub: hsl(0, 0%, 8.5%);
        --base-layer: hsl(0, 0%, 10%);
        --base-raised: hsl(0, 0%, 11%);
        --base-border: hsl(0, 0%, 13%);
        --base-input: hsl(0, 0%, 11.5%);
        --base-input-border: var(--base-border);
        --primary-color: #5F8AE1;

        --text-color: #FFF;
    }
}